{% extends 'user/header.html' %}
{% load static %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid about-header bg-dark text-white py-5">
  <div class="container py-5 text-center">
    <h1 class="display-4 text-light mt-5">Change Password</h1>
    <p class="lead"> </p>
  </div>
</div>
<!-- Header End -->

<div class="col-6 m-auto">
  {% if messages %}
  <div class="alert alert-success fade-in alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
</div>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center min-vh-100">
    <!-- Left Column: Image -->
    

    <!-- Right Column: Login Form -->
    <div class="col-lg-6 col-md-6">
      <section class="gradient-custom-dark">
        <div class="bg-light shadow-lg rounded-lg p-1"  style="padding:10px">
          <h4 class="text-center text-dark mb-1 font-weight-bold">Change Password</h4>

          <form method="post" action="{% url 'update_password' %}" method="post" id="myform">
            {% csrf_token %}
    
    
    
    
    
    
            <div>
                <span><label>Old Password</label></span>
               <span><input name="opassword" type="password" id="opassword" class="form-control"></span>
            </div>
           <div>
            <span><label>New Password</label></span>
           <span><input name="password" type="password" id="password" class="form-control"></span>
        </div>
        <div>
        <span><label>Confirm Password</label></span>
        <span><input name="cpassword" type="password" class="form-control"></span>
        </div>
        <div   style="text-align: center;margin-top: 6px;"><div>
            <span><input type="submit" value="Submit" class="btn btn-info"></span>
        </div></div>
          </div>
    
        </form></div>
    </div>
        <script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
                                <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                                <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
        <script>
            (function ($, W, D)
          {
          var JQUERY4U = {};
          JQUERY4U.UTIL =
              {
                  setupFormValidation: function ()
                  {
                    $.validator.addMethod(
            "regex",
            function(value, element, regexp) {
                var check = false;
                return this.optional(element) || regexp.test(value);
            },
            "Not a valid Input."
        );
    
                  //form validation rules
                  $("#myform").validate({
                    rules: {
                        opassword: {
                                            required: true,
    
    
                                        },
    
                        password: {
                                            required: true,
                                             regex : /^[A-Za-z0-9@#*]+$/,
                                             minlength: 5,
                                            maxlength: 15,
    
                                        },
                                        cpassword: {
                                            required: true,
                                               regex : /^[A-Za-z0-9@#*]+$/,
                                               minlength: 5,
                                              maxlength: 15,
                                          equalTo: "#password"
    
                                        },
                                      },
                                      messages: {
    
                                         password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
                               cpassword: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
    
                      },
                      submitHandler: function (form) {
                      form.submit();
                      }
                  });
                }
              }
          //when the dom has loaded setup form validation rules
          $(D).ready(function ($) {
              JQUERY4U.UTIL.setupFormValidation();
          });
          })(jQuery, window, document);
        </script>
    
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock content %}
